**What is Python?**

Python is a popular programming language.
**It is used for:**




* web development (server-side),
* software development, 

*  mathematics, 
*  system scripting.

**What can Python do?**



*   Python can be used on a server to create web applications.

*   Python can be used alongside software to create workflows.

*   Python can connect to database systems. It can also read and modify files.

**Why Python?**


*  Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).

*  Python has a simple syntax similar to the English language.

*   Python has syntax that allows developers to write programs with fewer lines than some other programming languages.
*   Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.


*  Python can be treated in a procedural way, an object-oriented way or a functional way.

**Python Syntax compared to other programming languages**


*  Python was designed for readability, and has some similarities to the English language with influence from mathematics.

*   Python uses new lines to complete a command, as opposed to other programming languages which often use semicolons or parentheses.
*   Python relies on indentation, using whitespace, to define scope; such as the scope of loops, functions and classes. Other programming languages often use curly-brackets for this purpose.

 **Example**

In [ ]:
print("Hello, World!")

Hello, World!

**1) Python Comments**

Comments can be used to explain Python code.

**i) Creating a Comment**

Comments starts with a #, and Python will ignore them:


**Example**

In [ ]:
#This is a comment
print("Hello, World!")

Hello, World!

**ii)** A comment does not have to be text that explains the 



code, it can also be used to prevent Python from executing code:

In [ ]:
#print("Hello, World!")
print("Neha, Rj!")

Neha, Rj!

**iii**) **Multi Line Comments**


Python does not really have a syntax for multi line comments.


To add a multiline comment you could insert a # for each line:

**Example**

In [ ]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

**2) Python Variables**

**Variables**

Variables are containers for storing data values.

**i) Creating Variables**

Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [ ]:
x = 5
y = "Neha"
print(x)
print(y)

5
Neha

**ii) Casting**

If you want to specify the data type of a variable, this can be done with casting.


**Example**

In [ ]:
x = str(3)
y = int(3)
z = float(3)

print(x)
print(y)
print(z)

3
3
3.0

**iii) Get the Type**

You can get the data type of a variable with the **type()** 
function.

**Example**

In [ ]:
x = 5
y = "Pooja"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

**iv)** **Single or Double Quotes?**

String variables can be declared either by using single or double quotes:

**Example**

In [ ]:
x = "Teju"
print(x)
#double quotes are the same as single quotes:
x = 'Teju'
print(x)

Teju
Teju

**v)** **Case-Sensitive**

Variable names are case-sensitive.

**Example**

This will create two variables:

In [ ]:
a = 4
A = "Sally"

print(a)
print(A)

4
Sally

**3) Python - Variable Names**

**Variable Names**

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
 

*  A variable name must start with a letter or the underscore character

*  A variable name cannot start with a number

**Example**

Legal variable names:

In [ ]:
myvar = "Neha"
my_var = "Neha"
_my_var = "Neha"
myVar = "Neha"
MYVAR = "Neha"
myvar2 = "Neha"


print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

Neha
Neha
Neha
Neha
Neha
Neha

**4) Python Variables - Assign Multiple Values**

**i**) **Many Values to Multiple Variables**

Python allows you to assign values to multiple variables in one line:

**Example**

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

**ii) One Value to Multiple Variables**

And you can assign the same value to multiple variables in one line:

**Example**

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

**iii) Unpack a Collection**

If you have a collection of values in a list, tuple etc. Python allows you extract the values into variables. This is called unpacking.

**Example**

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

**5) Python - Output Variables**

**Output Variables**

The Python print statement is often used to output variables.

To combine both text and a variable, Python uses the + character:

**Example**

In [ ]:
x = "awesome"
print("Python is " + x)

Python is awesome

**i)** You can also use the **+** character to add a variable to another variable:

**Example**

In [ ]:
x = "Python is "
y = "awesome"
z =  x + y
print(z)

Python is awesome

**ii)** For numbers, the **+** character works as a mathematical operator:

In [ ]:
x = 5
y = 10
print(x + y)

15

**6) Python - Global Variables**

**i) Global Variables**

Variables that are created outside of a function (as in all of the examples above) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

**Example**

Create a variable outside of a function, and use it inside the function

In [ ]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

**7) The global Keyword**

Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.


To create a **global** variable inside a function, you can use the global keyword.

**Example**

If you use the **global** keyword, the variable belongs to the global scope:

In [ ]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

**i)** Also, use the global keyword if you want to change a global variable inside a function.

**Example**

To change the value of a global variable inside a function, refer to the variable by using the **global** keyword:

In [ ]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

**8) Python Data Types**

Python has the following data types built-in by default, in these categories:

Text Type:	**str**

Numeric Types:	**int, float, complex**

Sequence Types:	**list, tuple, range**

Mapping Type:	**dict**

Set Types:	**set, frozenset**

Boolean Type:	**bool**

Binary Types:	**bytes, bytearray, memoryview**

**i) Getting the Data Type**

You can get the data type of any object by using the **type()**function:

**Example**

Print the data type of the variable x:

In [ ]:
x = 5
print(type(x))

<class 'int'>

**ii) Setting the Data Type**

In Python, the data type is set when you assign a value to a variable:

**Example**
**Usig Data Type str**

In [ ]:
x = "Hello World"

#display x:
print(x)

#display the data type of x:
print(type(x))

Hello World
<class 'str'>

**Using Data Type int**

In [ ]:
x = 20

#display x:
print(x)

#display the data type of x:
print(type(x))

20
<class 'int'>

**Using Data Type Float**

In [ ]:
x = 20.5

#display x:
print(x)

#display the data type of x:
print(type(x))

20.5
<class 'float'>

**Using Data Type Complex**

In [ ]:
x = 1j

#display x:
print(x)

#display the data type of x:
print(type(x))

1j
<class 'complex'>

**Using Data Type list**

In [ ]:
x = ["apple", "banana", "cherry"]

#display x:
print(x)

#display the data type of x:
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

**Using Data Type tuple**

In [ ]:
x = ("apple", "banana", "cherry")

#display x:
print(x)

#display the data type of x:
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

**Using Data Type range**

In [ ]:
x = range(6)

#display x:
print(x)

#display the data type of x:
print(type(x))

range(0, 6)
<class 'range'>

**Using Data Type dict**

In [ ]:
x = {"name" : "John", "age" : 36}

#display x:
print(x)

#display the data type of x:
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

**Using Data Type set**

In [ ]:
x = {"apple", "banana", "cherry"}

#display x:
print(x)

#display the data type of x:
print(type(x))

{'banana', 'apple', 'cherry'}
<class 'set'>

**Using Data Type frozenset**

In [ ]:
x = frozenset({"apple", "banana", "cherry"})

#display x:
print(x)

#display the data type of x:
print(type(x))

frozenset({'banana', 'apple', 'cherry'})
<class 'frozenset'>

**Using Data Type bool**

In [ ]:
x = True

#display x:
print(x)

#display the data type of x:
print(type(x))

True
<class 'bool'>

**Using Data Type bytes**

In [ ]:
x = b"Hello"

#display x:
print(x)

#display the data type of x:
print(type(x))

b'Hello'
<class 'bytes'>

**Using Data Type bytearray**

In [ ]:
x = bytearray(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

**Using Data Type memoryview**

In [ ]:
x = memoryview(bytes(5))

#display x:
print(x)

#display the data type of x:
print(type(x))

<memory at 0x7f7f7baa9ef0>
<class 'memoryview'>

**iii) Setting the Specific Data Type**

If you want to specify the data type, you can use the following constructor functions:
**Example**

**Using Data Type str**

In [ ]:
x = str("Hello World")

#display x:
print(x)

#display the data type of x:
print(type(x))

Hello World
<class 'str'>

**Using Data Type int**

In [ ]:
x = int(20)

#display x:
print(x)

#display the data type of x:
print(type(x))

20
<class 'int'>

**Using Data Type float**

In [ ]:
x = float(20.5)

#display x:
print(x)

#display the data type of x:
print(type(x))

20.5
<class 'float'>

**Using Data Type complex**

In [ ]:
x = complex(1j)

#display x:
print(x)

#display the data type of x:
print(type(x))

1j
<class 'complex'>

**Using Data Type list**

In [ ]:
x = list(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

**Using Data Type tuple**

In [ ]:
x = tuple(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

**Using Data Type range**

In [ ]:
x = range(6)

#display x:
print(x)

#display the data type of x:
print(type(x))

range(0, 6)
<class 'range'>

**Using Data Type dict**

In [ ]:
x = dict(name="John", age=36)

#display x:
print(x)

#display the data type of x:
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

**Using Data Type set**

In [ ]:
x = set(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

{'banana', 'apple', 'cherry'}
<class 'set'>

**Using Data Type frozenset**

In [ ]:
x = frozenset(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

frozenset({'banana', 'apple', 'cherry'})
<class 'frozenset'>

**Using Data Type bool**

In [ ]:
x = bool(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

True
<class 'bool'>

**Using Data Type bytes**

In [ ]:
x = bytes(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

b'\x00\x00\x00\x00\x00'
<class 'bytes'>

**Using data Type bytearray**

In [ ]:
x = bytearray(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

**Using Data Type memoryview**

In [ ]:
x = memoryview(bytes(5))

#display x:
print(x)

#display the data type of x:
print(type(x))

<memory at 0x7f7f7baa9ef0>
<class 'memoryview'>

**9) Python Numbers**

**Python Numbers**

There are three numeric types in Python:


*   **int**

*   **float**
*   **complex**

Variables of numeric types are created when you assign a value to them:
To verify the type of any object in Python, use the **type() **function:

**Example**

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

**i) Int**

Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

**Example**

**Integers:**

In [ ]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

**ii) Float**

Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

**Example**

**Floats:**

In [ ]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Float can also be scientific numbers with an "e" to indicate the power of 10.

**Example**

Floats:

In [ ]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

**iii) Complex**
Complex numbers are written with a "j" as the imaginary part:


**Example**

**Complex:**

In [ ]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

**iv) Type Conversion**

You can convert from one type to another with the **int(),** **float(),** and **complex()** methods:

**Example**

Convert from one type to another:

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

**v) Random Number**

Python does not have a **random()** function to make a random number, but Python has a built-in module called random that can be used to make **random **numbers:


**Example**

Import the random module, and display a random number between 1 and 9:

In [ ]:
import random

print(random.randrange(1, 10))

2

**10) Python Casting**

**Specify a Variable Type**

There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

**int() -**constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)

**float() -** constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)

**str() -** constructs a string from a wide variety of data types, including strings, integer literals and float literals

**Example**

In [ ]:
x = int(1)
y = int(2.8)
z = int("3")
print(x)
print(y)
print(z)

1
2
3

**Example**

Floats:

In [ ]:
x = float(1)
y = float(2.8)
z = float("3")
w = float("4.2")
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

**Example**

Strings:

In [ ]:
x = str("s1")
y = str(2)
z = str(3.0)
print(x)
print(y)
print(z)

s1
2
3.0

**11) Python Strings**

**Strings**

Strings in python are surrounded by either single quotation marks, or double quotation marks.

**'hello'** is the same as **"hello"**.

You can display a string literal with the **print()** function:

**Example**

In [ ]:
print("Hello")
print('Hello')

Hello
Hello

**i) Assign String to a Variable**

Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

**Example**

In [ ]:
a = "Hello"
print(a)

Hello

**ii) Multiline Strings**

You can assign a multiline string to a variable by using three quotes:

**Example**

You can use three double quotes:

In [ ]:
a = """hii  this is fds practical,
type of Strings in Python,
is Multiline Strings."""
print(a)

hii  this is fds practical,
type of Strings in Python,
is Multiline Strings.

Or three single quotes:

**Example**

In [ ]:
a = '''hii  this is fds practical,
type of Strings in Python,
is Multiline Strings.'''
print(a)

hii  this is fds practical,
type of Strings in Python,
is Multiline Strings.

**iii) Strings are Arrays**

Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.


However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.


**Example**

Get the character at position 1 (remember that the first character has the position 0):

In [ ]:
a = "Hello, World!"
print(a[1])

e

**iv) Looping Through a String**

Since strings are arrays, we can loop through the characters in a string, with a for loop.

**Example**

Loop through the letters in the word "banana":

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

**v) String Length**

To get the length of a string, use the **len()**function.

**Example**

The **len()**function returns the length of a string:

In [ ]:
a = "Hello, World!"
print(len(a))

13

**vi) Check String**

To check if a certain phrase or character is present in a string, we can use the keyword in.

**Example**

Check if "free" is present in the following text:

In [ ]:
txt = "The best things in life are free!"
print("free" in txt)

True

**12) Python - Slicing Strings**

**Slicing**

You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

**Example**

Get the characters from position 2 to position 5 (not included):

In [ ]:
b = "Hello, World!"
print(b[2:5])

llo

Note: The first character has index 0.

**i) Slice From the Start**

By leaving out the start index, the range will start at the first character:


**Example**

Get the characters from the start to position 5 (not included):

In [ ]:
b = "Hello, World!"
print(b[:5])

Hello

**ii) Slice To the End**

By leaving out the end index, the range will go to the end:

**Example**

Get the characters from position 2, and all the way to the end:

In [ ]:
b = "Hello, World!"
print(b[2:])

llo, World!

**iii) Negative Indexing**

Use negative indexes to start the slice from the end of the string:

**Example**

Get the characters:

From: "o" in "World!" (position -5)

To, but not included: "d" in "World!" (position -2):

In [ ]:
b = "Hello, World!"
print(b[-5:-2])

orl

**13) Python - Modify Strings**

Python has a set of built-in methods that you can use on strings.


**i) Upper Case**

**Example**

The **upper()** method returns the string in upper case:

In [ ]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

**ii) Lower Case**

**Example**

The **lower()** method returns the string in lower case:

In [ ]:
a = "Hello, World!"
print(a.lower())

hello, world!

**iii) Remove Whitespace**

Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

**Example**

The **strip()** method removes any whitespace from the beginning or the end:

In [ ]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

**iv) Replace String**

**Example**

The **replace()** method replaces a string with another string:

In [ ]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

**v) Split String**

The **split()** method returns a list where the text between the specified separator becomes the list items.

**Example**

The **split()** method splits the string into substrings if it finds instances of the separator:

In [ ]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

**14) Python - String Concatenation**

**String Concatenation**

To concatenate, or combine, two strings you can use the + operator.


**Example**

Merge variable **a** with variable **b** into variable **c**:

In [ ]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

**Example**

To add a space between them, add a **" "** :

In [ ]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

**15) Python - Format - Strings**

**Example**

i) Use the **format()** method to insert numbers into strings:

In [ ]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

ii) The format() method takes unlimited number of arguments, and are placed into the respective placeholders:

**Example**

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

iii) You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:

**Example**

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

**16) Python - Escape Characters**

**Example**

The escape character allows you to use double quotes when you normally would not be allowed:

In [ ]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

**Escape Characters**

Other escape characters used in Python:

**i) Using Single Quote**

In [ ]:
txt = 'It\'s alright.'
print(txt)

It's alright.

**ii) Using Backslash**

In [ ]:
txt = "This will insert one \\ (backslash)."
print(txt)

This will insert one \ (backslash).

**iii) Using New Line**

In [ ]:
txt = "Hello\nWorld!"
print(txt)

Hello
World!

**iv) Using Carriage Return**

In [ ]:
txt = "Hello\nWorld!"
print(txt)

Hello
World!

**v) Using Tab**

In [ ]:
txt = "Hello\tWorld!"
print(txt)

Hello	World!

**vi) Using Backspace**

In [ ]:
#This example erases one character (backspace):
txt = "Hello \bWorld!"
print(txt)

Hello World!

**vii) Using Octal value**

In [ ]:
#A backslash followed by three integers will result in a octal value:
txt = "\110\145\154\154\157"
print(txt)

Hello

**viii) Using Hex value**

In [ ]:
#A backslash followed by an 'x' and a hex number represents a hex value:
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

Hello

**17) Python Booleans**

Booleans represent one of two values: **True** or **False**.

**i) Boolean Values**

In programming you often need to know if an expression is **True** or **False**.

You can evaluate any expression in Python, and get one of two answers, **True** or **False**.

When you compare two values, the expression is evaluated and Python returns the Boolean answer:

**Example**

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

**Example**

Print a message based on whether the condition is True or False:

In [ ]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

**ii) Evaluate Values and Variables**

The **bool()** function allows you to evaluate any value, and give you True or False in return,

**Example**

Evaluate a string and a number:

In [ ]:
print(bool("Hello"))
print(bool(15))

True
True

**iii) Most Values are True**

Almost any value is evaluated to True if it has some sort of content.

Any string is **True**, except empty strings.

Any number is **True**, except 0.

Any list, tuple, set, and dictionary are **True**, except empty ones.

**Example**

The following will return True:

In [ ]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])
print(bool("abc"))
print(bool(123))
print(bool(["apple", "cherry", "banana"]))

True
True
True

**iv) Some Values are False**

In fact, there are not many values that evaluate to **False**, except empty values, such as **()**, **[]**, **{}**, "", the number 0, and the value None. And of course the value False evaluates to False.

**Example**

The following will return False:

In [ ]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

**v) Functions can Return a Boolean**

You can create functions that returns a Boolean Value:

**Example**

Print the answer of a function:

In [ ]:
def myFunction() :
  return True

print(myFunction())

True

**18) Python Operators**

**Python Operators**

Operators are used to perform operations on variables and values.

In the example below, we use the + operator to add together two values:

**Example**

In [ ]:
print(10 + 5)

15

**Python Arithmetic Operators**

Arithmetic operators are used with numeric values to perform common mathematical operations:

**i) Using Addition**

In [ ]:
x = 5
y = 3

print(x + y)

8

**ii) Using Subtraction**

In [ ]:
x = 5
y = 3

print(x - y)

2

**iii) Using Multiplication**

In [ ]:
x = 5
y = 3

print(x * y)

15

**iv) Using Division**

In [ ]:
x = 12
y = 3

print(x / y)

4.0

**v) Uisng Modulus**

In [ ]:
x = 5
y = 2

print(x % y)

1

**vi) Using Exponentiation**

In [ ]:
x = 2
y = 5

print(x ** y) #same as 2*2*2*2*2

32

**vii) Using Floor division**

In [ ]:
x = 15
y = 2

print(x // y)

#the floor division // rounds the result down to the nearest whole number

7

**19) Python Assignment Operators**

Assignment operators are used to assign values to variables:

**i) Using  =**

In [ ]:
x = 5

print(x)

5

**ii) Using +=**

In [ ]:
x = 5

x += 3

print(x)

8

**iii) Using -=**

In [ ]:
x = 5

x -= 3

print(x)

2

**iv) Using /=**

In [ ]:
x = 5

x /= 3

print(x)

1.6666666666666667

**20) Python Comparison Operators**

Comparison operators are used to compare two values:

**i) Using Equal**

In [ ]:
x = 5
y = 3

print(x == y)

# returns False because 5 is not equal to 3

False

**ii) Using Not equal**

In [ ]:
x = 5
y = 3

print(x != y)

# returns True because 5 is not equal to 3

True

**iii) Using Greater than**

In [ ]:
x = 5
y = 3

print(x > y)

# returns True because 5 is greater than 3

True

**iv) Using Less than**

In [ ]:
x = 5
y = 3

print(x < y)

# returns False because 5 is not less than 3

False

**v) Using Greater than or equal to**

In [ ]:
x = 5
y = 3

print(x >= y)

# returns True because five is greater, or equal, to 3

True

**vi) Using Less than or equal to**

In [ ]:
x = 5
y = 3

print(x <= y)

# returns False because 5 is neither less than or equal to 3

False

**21) Python Logical Operators**
Logical operators are used to combine conditional statements:

**i) Using and**

In [ ]:
x = 5

print(x > 3 and x < 10)

# returns True because 5 is greater than 3 AND 5 is less than 10

True

**ii) Using or**

In [ ]:
x = 5

print(x > 3 or x < 4)

# returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)

True

**iii) Using not**

In [ ]:
x = 5

print(not(x > 3 and x < 10))

# returns False because not is used to reverse the result

False

**22) Python Identity Operators**

Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

**i) Using is**

In [ ]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x == y)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
False
True

**ii) Using is not**

In [ ]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)

# returns False because z is the same object as x

print(x is not y)

# returns True because x is not the same object as y, even if they have the same content

print(x != y)

# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

False
True
False

**23) Python Membership Operators**

Membership operators are used to test if a sequence is presented in an object:

**i) Using in**

In [ ]:
x = ["apple", "banana"]

print("banana" in x)

# returns True because a sequence with the value "banana" is in the list

True

**ii) Using not in**

In [ ]:
x = ["apple", "banana"]

print("pineapple" not in x)

# returns True because a sequence with the value "pineapple" is not in the list

True

**24) Python Lists**

**i) List**

Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

**Example**

Create a List:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

**ii) Allow Duplicates**

Since lists are indexed, lists can have items with the same value:


**Example**
Lists allow duplicate values:

In [ ]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

**iii) List Length**

To determine how many items a list has, use the len() function:

**Example**

Print the number of items in the list:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

**iv)List Items - Data Types**

List items can be of any data type:

**Example**

String, int and boolean data types:

In [ ]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]

**v) type()**

From Python's perspective, lists are defined as objects with the data type 
'list':


<class 'list'>
**Example**

What is the data type of a list?

In [ ]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

**vi) The list() Constructor**

It is also possible to use the **list()** constructor when creating a new list.

**Example**

Using the **list()** constructor to make a List:

In [ ]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

**25) Python - Access List Items**

**i) Access Items**

List items are indexed and you can access them by referring to the index number:

**Example**

Print the second item of the list:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

**ii) Negative Indexing**

Negative indexing means start from the end

-1 refers to the last item, -2 refers to the second last item etc.

**Example**

Print the last item of the list:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

**iii) Check if Item Exists**

To determine if a specified item is present in a list use the in keyword:

**Example**

Check if "apple" is present in the list:

In [ ]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

**26) Python - Change List Items**

**i) Change Item Value**

To change the value of a specific item, refer to the index number:

**Example**

Change the second item:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

**ii) Change a Range of Item Values**

To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

**Example**

Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon":

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

**iii) Insert Items**

To insert a new list item, without replacing any of the existing values, we can use the insert() method.

The **insert()** method inserts an item at the specified index:

**Example**

Insert "watermelon" as the third item:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

**27) Python - Add List Items**

**i) Append Items**

To add an item to the end of the list, use the **append() **method:

**Example**

Using the **append()** method to append an item:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

**ii) Insert Items**

To insert a list item at a specified index, use the insert() method.

The **insert()** method inserts an item at the specified index:

**Example**

Insert an item as the second position:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

**28) Python - Remove List Items**

**i) Remove Specified Item**

The **remove()** method removes the specified item.

**Example**

Remove "banana":

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

**ii) Remove Specified Index**

The **pop()** method removes the specified index.

**Example**

Remove the second item:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

**iii) Clear the List**

The clear() method empties the list.

The list still remains, but it has no content.

**Example**

Clear the list content:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

**29) Python - Loop Lists**

**i) Loop Through a List**

You can loop through the list items by using a for loop:

**Example**

Print all items in the list, one by one:

In [ ]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

**ii) Loop Through the Index Numbers**

You can also loop through the list items by referring to their index number.

Use the **range()**and **len()**functions to create a suitable iterable.

**Example**

Print all items by referring to their index number:

In [ ]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

**30) Python - List Comprehension**

**i) List Comprehension**

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

Example:

Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

Without list comprehension you will have to write a **for**statement with a conditional test inside:

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

**31) Python - Sort Lists**

**i) Sort List Alphanumerically**

List objects have a **sort()** method that will sort the list alphanumerically, ascending, by default:

**Example**

Sort the list alphabetically:

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

**ii) Sort Descending**

To sort descending, use the keyword argument reverse = True:

**Example**
Sort the list descending:

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

**iii) Customize Sort Function**

You can also customize your own function by using the keyword argument key = function.

The function will return a number that will be used to sort the list (the lowest number first):

**Example**

Sort the list based on how close the number is to 50:

In [ ]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

**iv) Case Insensitive Sort**

By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters:

**Example**

Case sensitive sorting can give an unexpected result:

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

**v) Reverse Order**

What if you want to reverse the order of a list, regardless of the alphabet?

The **reverse()** method reverses the current sorting order of the elements.

**Example**

Reverse the order of the list items:

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

**32) Python - Copy Lists**

**i) Copy a List**

You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

There are ways to make a copy, one way is to use the built-in List method copy().

**Example**

Make a copy of a list with the copy() method:

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

**33) Python - Join Lists**

**i) Join Two Lists**

There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the **+** operator.

**Example**

Join two list:

In [ ]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

**ii)Example**

Use the **extend()** method to add list2 at the end of list1:

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

**34) Python Tuples**

**i) Tuple**

Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

**Example**

Create a Tuple:

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

**ii) Allow Duplicates**

Since tuple are indexed, tuples can have items with the same value:

**Example**

Tuples allow duplicate values:

In [ ]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

**iii) Tuple Length**

To determine how many items a tuple has, use the len() function:

**Example**

Print the number of items in the tuple:

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

**iv) Create Tuple With One Item**

To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

**Example**

One item tuple, remember the commma:

In [ ]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

**v) Tuple Items - Data Types**

Tuple items can be of any data type:

**Example**

String, int and boolean data types:

In [ ]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)

**35) Python - Access Tuple Items**

**i) Access Tuple Items**

You can access tuple items by referring to the index number, inside square brackets:

**Example**

Print the second item in the tuple:

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

**ii) Negative Indexing**

Negative indexing means start from the end.

-1 refers to the last item, -2 refers to the second last item etc.

**Example**

Print the last item of the tuple:

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

**iii) Range of Indexes**

You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new tuple with the specified items.

**Example**

Return the third, fourth, and fifth item:

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

**iv) Range of Negative Indexes**

Specify negative indexes if you want to start the search from the end of the tuple:

**Example**

This example returns the items from index -4 (included) to index -1 (excluded)

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

**v) Check if Item Exists**

To determine if a specified item is present in a tuple use the in keyword:

**Example**

Check if "apple" is present in the tuple:

In [ ]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

**36) Python - Update Tuples**

**i) Change Tuple Values**

Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

**Example**

Convert the tuple into a list to be able to change it:

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

**37) Python - Loop Tuples**

**i) Loop Through a Tuple**

You can loop through the tuple items by using a for loop.

**Example**

Iterate through the items and print the values:

In [ ]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

**ii) Loop Through the Index Numbers**

You can also loop through the tuple items by referring to their index number.

Use the **range()** and **len()** functions to create a suitable iterable.

**Example**

Print all items by referring to their index number:

In [ ]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

**38) Python - Join Tuples**

**i) Join Two Tuples**

To join two or more tuples you can use the + operator:

**Example**

Join two tuples:

In [ ]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

**ii) Multiply Tuples**

If you want to multiply the content of a tuple a given number of times, you can use the *  operator:

**Example**

Multiply the fruits tuple by 2:

In [ ]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

**39) Python Sets**

**i) Set**

Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is both unordered and unindexed.

Sets are written with curly brackets.

**Example**

Create a Set:

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}

**ii) Duplicates Not Allowed**

Sets cannot have two items with the same value.

**Example**

Duplicate values will be ignored:

In [ ]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'banana', 'apple', 'cherry'}

**iii) Get the Length of a Set**

To determine how many items a set has, use the len() method.

**Example**

Get the number of items in a set:

In [ ]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

**iv) Set Items - Data Types**

Set items can be of any data type:

**Example**

String, int and boolean data types:

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

print(set1)
print(set2)
print(set3)

{'banana', 'apple', 'cherry'}
{1, 3, 5, 7, 9}
{False, True}

**40) Python - Access Set Items**

**i) Access Items**

You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

**Example**

Loop through the set, and print the values:

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
apple
cherry

**41) Python - Add Set Items**

**i) Add Items**
To add one item to a set use the **add()**method.

**Example**

Add an item to a set, using the **add()**method:

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'banana', 'apple', 'orange', 'cherry'}

**ii) Add Sets**

To add items from another set into the current set, use the update() method.

**Example**

Add elements from tropical and thisset into newset:

In [ ]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'cherry', 'mango', 'pineapple', 'banana', 'apple', 'papaya'}

**iii) Add Any Iterable**

The object in the **update()**method does not have be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

**Example**

Add elements of a list to at set:

In [ ]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'cherry', 'banana', 'orange', 'kiwi', 'apple'}

**42) Python - Remove Set Items**

**i) Remove Item**
To remove an item in a set, use the **remove()**, or the **discard()**method.

**Example**

Remove "banana" by using the **remove()** method:

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

**ii) Example**

Remove "banana" by using the **discard()** method:

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

**43) Python - Loop Sets**

**i) Loop Items**

You can loop through the set items by using a **for**loop:

**Example**

Loop through the set, and print the values:

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
apple
cherry

**44) Python Dictionaries**

**i) Dictionary**

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

Dictionaries are written with curly brackets, and have keys and values:

**Example**

Create and print a dictionary:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

**ii) Dictionary Items**

Dictionary items are ordered, changeable, and does not allow duplicates.

Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

**Example**

Print the "brand" value of the dictionary:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

**iii) Duplicates Not Allowed**

Dictionaries cannot have two items with the same key:

**Example**

Duplicate values will overwrite existing values:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

**iv) Dictionary Length**

To determine how many items a dictionary has, use the **len()** function:

**Example**

Print the number of items in the dictionary:

In [ ]:
print(len(thisdict))

3

**v) Dictionary Items - Data Types**

The values in dictionary items can be of any data type:

**Example**

String, int, boolean, and list data types:

In [ ]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
print(thisdict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

**vi) type()**

From Python's perspective, dictionaries are defined as objects with the data type 'dict':

<class 'dict'>

**Example**

Print the data type of a dictionary:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(type(thisdict))

<class 'dict'>

**45) Python - Access Dictionary Items**

**i) Accessing Items**

You can access the items of a dictionary by referring to its key name, inside square brackets:

**Example**

Get the value of the "model" key:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)

Mustang

**ii) Get Keys**

The keys() method will return a list of all the keys in the dictionary.

**Example**

Get a list of the keys:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = thisdict.keys()

print(x)

dict_keys(['brand', 'model', 'year'])

**iii) Get Values**

The values() method will return a list of all the values in the dictionary.

**Example**

Get a list of the values:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = thisdict.values()

print(x)

dict_values(['Ford', 'Mustang', 1964])

**46) Python - Change Dictionary Items**

**i) Change Values**

You can change the value of a specific item by referring to its key name:

**Example**

Change the "year" to 2018:

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

thisdict["year"] = 2018

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

**ii) Update Dictionary**

The **update()** method will update the dictionary with the items from the given argument.

The argument must be a dictionary, or an iterable object with key:value pairs.

**Example**

Update the "year" of the car by using the update() method:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

**47) Python - Add Dictionary Items**

**i) Adding Items**

Adding an item to the dictionary is done by using a new index key and assigning a value to it:

**Example**

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

**ii) Update Dictionary**

The **update()** method will update the dictionary with the items from a given argument. If the item does not exist, the item will be added.

The argument must be a dictionary, or an iterable object with key:value pairs.

**Example**

Add a color item to the dictionary by using the update() method:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

**48) Python - Loop Dictionaries**

**i) Loop Through a Dictionary**

You can loop through a dictionary by using a **for** loop.

When looping through a dictionary, the return value are the keys of the dictionary, but there are methods to return the values as well.

**Example**

Print all key names in the dictionary, one by one:

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(x)

brand
model
year

**ii) Example**

You can also use the **values()** method to return values of a dictionary:

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict.values():
  print(x)

Ford
Mustang
1964

**49)Python - Copy Dictionaries**

**i) Copy a Dictionary**

You cannot copy a dictionary simply by typing **dict2**= **dict1**, because: **dict2** will only be a reference to **dict1**, and changes made in **dict1** will automatically also be made in **dict2**.

There are ways to make a copy, one way is to use the built-in Dictionary method copy().

**Example**

Make a copy of a dictionary with the **copy()**method:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

ii) Another way to make a copy is to use the built-in function **dict()**.

**Example**

Make a copy of a dictionary with the **dict()** function:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

**50) Python** - Nested Dictionaries

**i) Nested Dictionaries**

A dictionary can contain dictionaries, this is called nested dictionaries.

**Example**

Create a dictionary that contain three dictionaries:

In [ ]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

**51) Python If ... Else**

Python supports the usual logical conditions from mathematics:

Equals: **a == b**

Not Equals: **a != b**

Less than: **a < b**

Less than or equal to: **a <= b**

Greater than: **a > b**

Greater than or equal to: **a >= b**

These conditions can be used in several ways, most commonly in "if statements" and loops.

An "if statement" is written by using the if keyword.

**Example**

If statement:

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

**i) Elif**

The elif keyword is pythons way of saying "if the previous conditions were not true, then try this condition".

**Example**

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

**ii) Else**

The else keyword catches anything which isn't caught by the preceding conditions.

**Example**

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

**iii) And**

The **and** keyword is a logical operator, and is used to combine conditional statements:

**Example**

Test if a is greater than b, AND if c is greater than a:

In [ ]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

**iv) Nested If**

You can have if statements inside if statements, this is called nested if statements.

**Example**

In [ ]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

**52) Python While Loops**

Python Loops

Python has two primitive loop commands:

**while loops**

**for loops**

**i) The while Loop**

With the **while** loop we can execute a set of statements as long as a condition is true.

**Example**

Print i as long as i is less than 6:

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

**ii) The break Statement**

With the **break** statement we can stop the loop even if the while condition is true:

**Example**

Exit the loop when i is 3:

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

**iii) The continue Statement**

With the **continue** statement we can stop the current iteration, and continue with the next:

**Example**

Continue to the next iteration if i is 3:

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

**iv) The else Statement**

With the **else** statement we can run a block of code once when the condition no longer is true:

**Example**

Print a message once the condition is false:

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

**53) Python For Loops**

**i) Python For Loops**

A **for**loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the **for** keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the **for** loop we can execute a set of statements, once for each item in a list, tuple, set etc.

**Example**

Print each fruit in a fruit list:

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

**ii) Looping Through a String**

Even strings are iterable objects, they contain a sequence of characters:

**Example**

Loop through the letters in the word "banana":

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

**iv) The break Statement**

With the **break** statement we can stop the loop before it has looped through all the items:

**Example**

Exit the loop when x is "banana":

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

**v) Nested Loops**

A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

**Example**

Print each adjective for every fruit:

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

**54) Python Functions**

A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

**i) Creating a Function**

In Python a function is defined using the **def** keyword:

**Example**

In [ ]:
def my_function():
  print("Hello from a function")

**ii) Calling a Function**

To call a function, use the function name followed by parenthesis:

**Example**

In [ ]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

**iii) Arguments**

Information can be passed into functions as arguments.

Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

The following example has a function with one argument (fname). When the function is called, we pass along a first name, which is used inside the function to print the full name:

**Example**

In [ ]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

**iv) Keyword Arguments**

You can also send arguments with the key = value syntax.

This way the order of the arguments does not matter.

**Example**

In [ ]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

**v) Default Parameter Value**

The following example shows how to use a default parameter value.

If we call the function without argument, it uses the default value:

In [ ]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

**vi) Return Values**

To let a function return a value, use the return statement:

**Example**

In [ ]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

**55) Python Lambda**

 lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

**Syntax**

lambda arguments : expression

i) The expression is executed and the result is returned:

**Example**

Add 10 to argument **a**, and return the result:

In [ ]:
x = lambda a : a + 10
print(x(5))

15

ii)Lambda functions can take any number of arguments:

**Example**

Multiply argument **a** with argument **b** and return the result:

In [ ]:
x = lambda a, b : a * b
print(x(5, 6))

30

iii) **Example**

Summarize argument **a**, **b**, and **c** and return the result:

In [ ]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

**56) Python Arrays**

**i) Access the Elements of an Array**

You refer to an array element by referring to the index number.

**Example**

Get the value of the first array item:

In [ ]:
cars = ["Ford", "Volvo", "BMW"]

x = cars[0]

print(x)

Ford

**ii) The Length of an Array**

Use the **len()** method to return the length of an array (the number of elements in an array).

**Example**

Return the number of elements in the cars array:

In [ ]:
cars = ["Ford", "Volvo", "BMW"]

x = len(cars)

print(x)

3

**iii) Looping Array Elements**

You can use the for in loop to loop through all the elements of an array.

**Example**

Print each item in the cars array:

In [ ]:
cars = ["Ford", "Volvo", "BMW"]

for x in cars:
  print(x)

Ford
Volvo
BMW

**iv) Adding Array Elements**

You can use the **append()** method to add an element to an array.

**Example**

Add one more element to the cars array:

In [ ]:
cars = ["Ford", "Volvo", "BMW"]

cars.append("Honda")

print(cars)

['Ford', 'Volvo', 'BMW', 'Honda']

**57) Python Classes and Objects**

Python is an object oriented programming language.

Almost everything in Python is an object, with its properties and methods.

A Class is like an object constructor, or a "blueprint" for creating objects.

**i) Create a Class**

To create a class, use the keyword **class**:

**Example**

Create a class named MyClass, with a property named x:

In [ ]:
class MyClass:
  x = 5

print(MyClass)

<class '__main__.MyClass'>

**ii) Create Object**

Now we can use the class named MyClass to create objects:

**Example**

Create an object named p1, and print the value of x:

In [ ]:
class MyClass:
  x = 5

p1 = MyClass()
print(p1.x)

5

**iii) Modify Object Properties**

You can modify properties on objects like this:

**Example**

Set the age of p1 to 40:

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)

p1.age = 40

print(p1.age)

40

**58) Python Inheritance**

Inheritance allows us to define a class that inherits all the methods and properties from another class.

**Parent class** is the class being inherited from, also called base class.

**Child class** is the class that inherits from another class, also called derived class.

**i) Create a Parent Class**

Any class can be a parent class, so the syntax is the same as creating any other class:

**Example**

Create a class named **Person**, with **firstname** and **lastname** properties, and a printname method:

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

#Use the Person class to create an object, and then execute the printname method:

x = Person("John", "Doe")
x.printname()

John Doe

**ii) Use the super() Function**

Python also has a **super()**function that will make the child class inherit all the methods and properties from its parent:

**Example**

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)

x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

**iii) Add Properties**

**Example**

Add a property called **graduationyear** to the **Student** class:

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)
    self.graduationyear = 2019

x = Student("Mike", "Olsen")
print(x.graduationyear)

2019

**iv) Add Methods**

**Example**

Add a method called **welcome** to the **Student** class:

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

  def welcome(self):
    print("Welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)

x = Student("Mike", "Olsen", 2019)
x.welcome()

Welcome Mike Olsen to the class of 2019

**59) Python Iterators**

An iterator is an object that contains a countable number of values.

An iterator is an object that can be iterated upon, meaning that you can traverse through all the values.

Technically, in Python, an iterator is an object which implements the iterator protocol, which consist of the methods __iter__() and __next__().

**i) Iterator vs Iterable**

Lists, tuples, dictionaries, and sets are all iterable objects. They are iterable containers which you can get an iterator from.

All these objects have a **iter()** method which is used to get an iterator:

**Example**

Return an iterator from a tuple, and print each value:

In [ ]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

**ii) Looping Through an Iterator**

We can also use a **for** loop to iterate through an iterable object:

**Example**

Iterate the values of a tuple:

In [ ]:
mytuple = ("apple", "banana", "cherry")

for x in mytuple:
  print(x)

apple
banana
cherry

**iii) Create an Iterator**

To create an object/class as an iterator you have to implement the methods __iter__() and __next__() to your object.

As you have learned in the Python Classes/Objects chapter, all classes have a function called __init__(), which allows you to do some initializing when the object is being created.

The __iter__() method acts similar, you can do operations (initializing etc.), but must always return the iterator object itself.

The __next__() method also allows you to do operations, and must return the next item in the sequence.

**Example**

Create an iterator that returns numbers, starting with 1, and each sequence will increase by one (returning 1,2,3,4,5 etc.):

In [ ]:
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    x = self.a
    self.a += 1
    return x

myclass = MyNumbers()
myiter = iter(myclass)

print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

1
2
3
4
5

**iv) StopIteration**

The example above would continue forever if you had enough next() statements, or if it was used in a for loop.

To prevent the iteration to go on forever, we can use the StopIteration statement.

In the __next__() method, we can add a terminating condition to raise an error if the iteration is done a specified number of times:

**Example**

Stop after 20 iterations:

In [ ]:
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    if self.a <= 20:
      x = self.a
      self.a += 1
      return x
    else:
      raise StopIteration

myclass = MyNumbers()
myiter = iter(myclass)

for x in myiter:
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

**60) Python Scope**

 variable is only available from inside the region it is created. This is called **scope**.

**i) Local Scope**

A variable created inside a function belongs to the local scope of that function, and can only be used inside that function.

**Example**

A variable created inside a function is available inside that function:

In [ ]:
def myfunc():
  x = 300
  print(x)

myfunc()

300

**ii) Function Inside Function**

As explained in the example above, the variable x is not available outside the function, but it is available for any function inside the function:

**Example**

The local variable can be accessed from a function within the function:

In [ ]:
def myfunc():
  x = 300
  def myinnerfunc():
    print(x)
  myinnerfunc()

myfunc()

300

**iii) Global Scope**

A variable created in the main body of the Python code is a global variable and belongs to the global scope.

Global variables are available from within any scope, global and local.

**Example**

A variable created outside of a function is global and can be used by anyone:

In [ ]:
x = 300

def myfunc():
  print(x)

myfunc()

print(x)

300
300

**iv) Naming Variables**

If you operate with the same variable name inside and outside of a function, Python will treat them as two separate variables, one available in the global scope (outside the function) and one available in the local scope (inside the function):

**Example**

The function will print the local x, and then the code will print the global x:

In [ ]:
x = 300

def myfunc():
  x = 200
  print(x)

myfunc()

print(x)

200
300

**61) Python Modules**

**What is a Module?**

Consider a module to be the same as a code library.

A file containing a set of functions you want to include in your application.

**i) Create a Module**

To create a module just save the code you want in a file with the file extension .**py**:

**Example**

Save this code in a file named mymodule.**py**

In [ ]:
def greeting(name):
  print("Hello, " + name)

**ii) Use a Module**

First upload the file

In [ ]:
from google.colab import files
files.upload()

Saving mymodule.py to mymodule (1).py

{'mymodule.py': b'def greeting(name):\r\n  print("Hello, " + name)'}

Now we can use the module we just created, by using the **import** statement:

**Example**

Import the module named mymodule, and call the greeting function:

In [ ]:
import mymodule
mymodule.greeting("Jonathan")

Hello, Jonathan

**iii) Variables in Module**

The module can contain functions, as already described, but also variables of all types (arrays, dictionaries, objects etc):

**Example**

Save this code in the file mymodule.py

In [ ]:
person1 = {
  "name": "John",
  "age": 36,
  "country": "Norway"
}

First upload the file

In [ ]:
from google.colab import files
files.upload()

Saving mymodule1.py to mymodule1 (1).py

{'mymodule1.py': b'person1 = {\r\n  "name": "John",\r\n  "age": 36,\r\n  "country": "Norway"\r\n}'}

**Example**

Import the module named mymodule1, and access the person1 dictionary:

In [ ]:
import mymodule1
a = mymodule1.person1["age"]
print(a)

36

**iv)Built-in Modules**

There are several built-in modules in Python, which you can import whenever you like.

**Example**

Import and use the **platform** module:

In [ ]:
import platform

x = platform.system()
print(x)

Linux

**v) Using the dir() Function**

There is a built-in function to list all the function names (or variable names) in a module. The dir() function:

**Example**

List all the defined names belonging to the platform module:

In [ ]:
import platform

x = dir(platform)
print(x)

['DEV_NULL', '_UNIXCONFDIR', '_WIN32_CLIENT_RELEASES', '_WIN32_SERVER_RELEASES', '__builtins__', '__cached__', '__copyright__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '__version__', '_codename_file_re', '_comparable_version', '_component_re', '_default_architecture', '_dist_try_harder', '_distributor_id_file_re', '_follow_symlinks', '_ironpython26_sys_version_parser', '_ironpython_sys_version_parser', '_java_getprop', '_libc_search', '_linux_distribution', '_lsb_release_version', '_mac_ver_xml', '_node', '_norm_version', '_parse_release_file', '_platform', '_platform_cache', '_pypy_sys_version_parser', '_release_file_re', '_release_filename', '_release_version', '_supported_dists', '_sys_version', '_sys_version_cache', '_sys_version_parser', '_syscmd_file', '_syscmd_uname', '_syscmd_ver', '_uname_cache', '_ver_output', '_ver_stages', 'architecture', 'collections', 'dist', 'java_ver', 'libc_ver', 'linux_distribution', 'mac_ver', 'machine', 'node', 'os', 'platform', 'popen', 'processor', 'python_branch', 'python_build', 'python_compiler', 'python_implementation', 'python_revision', 'python_version', 'python_version_tuple', 're', 'release', 'subprocess', 'sys', 'system', 'system_alias', 'uname', 'uname_result', 'version', 'warnings', 'win32_ver']

**62) Python Math**

Python has a set of built-in math functions, including an extensive math module, that allows you to perform mathematical tasks on numbers.

**i) Built-in Math Functions**

The **min()** and **max()** functions can be used to find the lowest or highest value in an iterable:

**Example**

In [ ]:
x = min(5, 10, 25)
y = max(5, 10, 25)

print(x)
print(y)

5
25

The **pow(x, y)** function returns the value of x to the power of y (xy).

**Example**

Return the value of 4 to the power of 3 (same as 4 * 4 * 4):

In [ ]:
x = pow(4, 3)

print(x)

64

**ii) The Math Module**

Python has also a built-in module called math, which extends the list of mathematical functions.

To use it, you must import the math module:

**import math**

When you have imported the **math** module, you can start using methods and constants of the module.

The **math.sqrt()** method for example, returns the square root of a number:

**Example**

In [ ]:
import math

x = math.sqrt(64)

print(x)

8.0